<div class="starter-template">
  <h1>Wait list</h1>
  <p class="lead"></p>
<a href="/register"><button ng-hide="currentUser"type="button" class="btn btn-primary btn-lg">Get started now!</button></a>
<a href="/waitlist"><button ng-show="currentUser"type="button" class="btn btn-primary btn-lg">Get started now!</button></a>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>A real time wait list</h2>
    <p>Keep track of who's next on all your devices without having to hit the refresh button!</p>
  </div>
  <div class="col-md-4">
    <h2>SMS notifications</h2>
    <p>Make everyones lives easier, rather than hunting the next person down, just send an SMS notification.</p>
  </div>
  <div class="col-md-4">
    <h2>What's next?</h2>
    <p>We're planning on making a public link so others can see where they are for themselves. More to come, stay tuned!</p>
  </div>
</div>
