  <div class="starter-template">
    <h1>Kara-ok<small>e</small> </h1>
    <p class="lead">The smart way to Karaoke</p>
  <a href="#/register"><button type="button" class="btn btn-primary btn-lg">Get started now!</button></a>
    <strong>
      <h4 clas>Update:</h4>
      <p>User login now works!</p>
    </strong>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Foo</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ab quod deleniti asperiores necessitatibus, eligendi autem dolorum dicta iste cumque recusandae, voluptatibus numquam nulla culpa, quisquam quam aspernatur distinctio hic.</p>
    </div>
    <div class="col-md-4">
      <h2>Bar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa, aut fugiat similique dignissimos, minima perferendis ipsum quo inventore quas modi animi id quisquam repudiandae officia aliquid error optio voluptatem?</p>
    </div>
    <div class="col-md-4">
      <h2>Baz</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptas eius enim suscipit consectetur, cum sequi! Autem ex impedit ab molestiae, quaerat ea porro nemo sequi nulla ipsum. Vitae, cumque.
    </div>
  </div>
