<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="partyName">Name</label>
    <input type="text" class="form-control" id="partyName" placeholder="Name">
  </div>

  <div class="form-group">
    <label class="sr-only" for="songName">Song</label>
    <input type="text" class="form-control" id="songName" placeholder="Song">
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone Number</label>
    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
  </div>

  <button type="submit" class="btn btn-primary">Add applicant</button>
</form>
